* {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.side-bar {
  min-width: 25vw;
  max-width: 20vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  overflow: scroll;
}

.main {
  width: 100%;
  height: 100vh;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
  font-size: 28px;
  text-align: center;
  padding: 1em;
}

a {
  text-decoration: none;
  cursor: pointer;
}